.container .rol {
    margin-top: 75px;
    margin-left:25px;
    margin-right:25px;
}

table {
    border-collapse: collapse;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  
  td,th {
    border: 1.5px solid #ba3f1d;
    border-collapse: collapse;
    padding: 4px;
    
  }
  

@media screen and (max-width:768px) {
    .container .rol {
        margin-top: 75px;
        margin-left:0px;
        margin-right:0px;
    }
    
}