
.meeting_bg {
  width: 100%;
  height:100vh;
 position: absolute;
  z-index:-1;
}

.meeting_bg img {
width: 100%;	
height:670px;
opacity: 0.5;
}

.content {
	display: flex;
	justify-content:space-evenly;
	margin-top: 20px;
	
	
}
.create_form {
	width: 400px;


}
.calender {
	
	
}

@media screen and (max-width:768px){
	
	  
	  .meeting_bg img {
	  height:1000px;
	  }
	.content {
		display: block;
	}	
	.create_form {
		width: 300px;
		margin-top: 10%;
		margin-left: 10%;
		margin-right:7%;
		margin-bottom: 0;
		display: block;
	}
	.calender {
		display: block;
		
	}
	
}